<h1>Acerca de</h1>
<p class="text-info">Pagina de inscripciones a la escuela biblica de verano, en la iglesia Renovacion Cristiana, 2016.</p>
<p class="text-muted">Para mas informacion acerca de esta pagina favor de contactar a Daniel Monzalvo.</p>
