<center><h1>Renovacion Cristiana</h1></center>
<div class="text-info">
<p>Camino a Santa Lucia n°98,</p>
<p>Col. Olivar del Conde 1a seccion,</p>
<p>Del. Alvaro Obregon</p>
<p>Mexico, Ciudad de Mexico</p>
<p>Telefono: 55 93 18 38</p>
</div>
</br>
<a href="http://rc.org.mx/" ><p class="text-primary">Visita nuestra página WEB</p></a>
