<h1>Nuevo Costo</h1>

<%= render 'form' %>

<div class="row">
	<div class= "coll-sm-4">
		<%= button_to 'Cancelar', outcomes_path , class:"btn btn-default" %>
	</div>
	<div class= "col-sm-8">
	</div>
</div>