<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
		      <%= link_to "EBDV 2016 - Sumergidos",home_path, id: "logo" %>

		      <% if user_logged_in? %>
		      	<%= render 'layouts/menu' %>
		      	<h2 class="title">Bienvenido - <%= current_user.name %></h2> 	
		      <% end %>
	  </div>
</header>
